.produto-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04976.jpg);
}
.produto-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/Calcas-e-Shorts-Amiri/amiri-47.jpg);
}
.produto-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04911.jpg);
}
.produto-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/Oculos/Oculos-variados/variados-22.jpg);
}
.produto-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/Relogios/relogios-8.jpg);
}
.produto-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/Shorts/Shorts-Burberry/burberry-16.jpg);
}
.produto-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04896.jpg);
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}