.produto-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/blusas-capa.jpg);
}
.produto-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/tshirts-capa.webp);
}
.produto-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/oculos-capa.webp);
}
.produto-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/relogios-capa.webp);
}
.produto-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/shorts-capa.webp);
}
.produto-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../imagens/fotos/tenis-capa.jpg);
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}