.produto-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04980.jpg);
}
.produto-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/Calcas-e-Shorts-Amiri/amiri-47.jpg);
}
.produto-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC05007.jpg);
}
.produto-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/oculos-capa.jpeg);
}
.produto-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04891.jpg);
}
.produto-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC05045.jpg);
}
.produto-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../imagens/fotos/DSC04968.jpg);
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}