.camisas-marca-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-amiri/amiri-1.jpg);
}
.camisas-marca-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-balenciaga/balenciaga-9.jpg);
}
.camisas-marca-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Burberry/burberry-25.jpg);
}
.camisas-marca-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-dior/dior-23.jpg);
}
.camisas-marca-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-givenchy/givenchy-18.jpg);
}
.camisas-marca-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Gucci/gucci-7.jpg);
}
.camisas-marca-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-LV/louis-vuitton-3.jpg);
}
.camisas-marca-8 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Moncler/moncler-19.jpg);
}
.camisas-marca-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Off-White/off-white-22.jpg);
}
.camisas-marca-10 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Palm-Angels/palm-angels-30.jpg);
}
.camisas-marca-11 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Prada/prada-13.jpg);
}
.camisas-marca-12 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../imagens/Camisas/Camisas-Versace/versace-11.jpg);
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}